@model Member 

@{
	ViewData["title"] = "Edit Member";
}


<h2>Edit Member data</h2>

<form asp-controller="Member" asp-action="Edit" method="post">
	<div class="form-group">
		<label>Member ID</label>
		<input asp-for="CustomerId" readonly class="form-control" />
	</div>

	<div class="form-group">
		<label>Date of Join</label>
		<input type="date" asp-for="JoinDate" class="form-control" />
		<span asp-validation-for="JoinDate" class="text-danger"></span>
	</div>


	<div class="form-group">
		<label>First Name</label>
		<input asp-for="FirstName" class="form-control" />
		<span asp-validation-for="FirstName" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label>Middle Name</label>
		<input asp-for="MiddleName" class="form-control" />
		<span asp-validation-for="MiddleName" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label>Last Name</label>
		<input asp-for="LastName" class="form-control" />
		<span asp-validation-for="LastName" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label>Contact Number</label>
		<input asp-for="ContactNumber" class="form-control" />
		<span asp-validation-for="ContactNumber" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label>Gender</label>
		<select asp-for="Gender" class="form-control">
			<option value="">Select Gender</option>
			<option value="Male">Male</option>
			<option value="Female">Female</option>
		</select>
		<span asp-validation-for="Gender" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label>Plan</label>
		<select asp-for="PlanId" class="form-control">
			<option value="">Select Plan</option>
			<option value=1>1</option>
			<option value=2>2</option>
		</select>
		<span asp-validation-for="PlanId" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label>Expiry Date</label>
		<input type="date" asp-for="ExpiryDate" class="form-control" />
		<span asp-validation-for="ExpiryDate" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label>Is Member?</label>
		<select asp-for="isMember" class="form-control">
			<option value="">Select if Member </option>
			<option value=1 >True</option>
			<option value=0 >False</option>
		</select>
		<span asp-validation-for="isMember" class="text-danger"></span>
	</div>

	
	<button type="submit" class="btn btn-primary">Submit</button>
</form>