@model Coach

<h2>Edit Coaches Information Dabuldelz</h2>

<form method="post" asp-action="Edit">
	<div> 
	<label>CoachID </label>
	<input asp-for="CoachID" readonly/>
	</div>

	<div class="form-group">
	<label>Coach Name </label>
	<input asp-for="CoachName" class="form-control"/>
		<span asp-validation-for="CoachName" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label>Email</label>
		<input type = "email" asp-for="Email" class="form-control" />
		<span asp-validation-for="Email" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label>Specialty</label>
		<input asp-for="Specialty" class="form-control" />
		<span asp-validation-for="Specialty" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label>BranchID</label>
		<input asp-for="BranchID" class="form-control" />
		<span asp-validation-for="BranchID" class="text-danger"></span>
	</div>

	<button type="submit" class="btn btn-primary mt-1">Update </button>
</form>